<article class="article">
    <header>
        <div class="time">
            <span class="pipe">|</span>
            <time pubdate="pubdate">{{ entry.date }}</time>
        </div>

        <h1>
            <a href="{{ skimpy.url(entry.uri) }}">{{ entry.title }}</a>
        </h1>
    </header>

    <div class="excerpt">
        <p>{{ entry.excerpt }}&hellip;</p>
    </div>

    <a href="{{ skimpy.url(entry.uri) }}">Read article &rsaquo;</a>
</article>
