<article class="comment" data-comment-id="{{ child.id }}" data-root-comment-id="{{ parent.id }}">
    <header class="comment-author">
        {{ child.imgHtml()|raw }}
        <h4 class="author-name">{{ child.displayName }}</h4>
    </header>

    <time>{{ child.date }}</time>

    <div class="comment-content">
        {{ child.content|striptags('<br>')|raw }}
    </div>

    <a class="reply-button" href="javascript:void(0)">
        {% include 'svg/comment.twig' %}
    </a>
</article> <!-- .comment -->
