<div class="comments">
    <div class="comments-header">
        <h4>Comments</h4>
    </div>

    <div class="new-comment">
        {% include 'svg/comment.twig' %}
        <a href="javascript:void(0)">New Comment</a>
    </div>

    <form id="comment-form" class="comment-form" style="display: none;">
        <div class="form-group">
            <label for="comment_author">Name</label>
            <input type="text" id="comment_author" name="author" required>
            <input type="hidden" name="entry_uri" value="{{ entry.uri }}">
        </div>
        <div class="form-group">
            <label for="comment_content">Comment</label>
            <textarea id="comment_content" name="content" rows="4" required></textarea>
        </div>
        <div class="char-count">
            <span>2400</span> characters remaining
        </div>
        <input type="hidden" name="replies_to_id" value="">
        <button type="submit">Submit Comment</button>
    </form>

    <div class="comments-list">
        {% for comment in comments(entry.uri) %}
            <div class="comment" data-comment-id="{{ comment.id }}">

                <div class="comment-author">
                    {% if comment.isSiteOwner %}
                        <img class="author-img" src="/img/justin-icon.jpg" alt="Justin Tallant" />
                    {% else %}
                        <div class="author-img"></div>
                    {% endif %}
                    <span class="author-name">{{ comment.displayName }}</span>
                </div>

                <time>{{ comment.date }}</time>

                <div class="comment-content">
                    {{ comment.content|raw }}
                </div>

                <a class="reply-button" href="javascript:void(0)">
                    {% include 'svg/comment.twig' %}
                </a>

                <div class="replies">
                    {% for childComment in childComments(comment.id) %}
                        {% include 'partials/comment.twig' with {'comment': childComment} %}
                    {% endfor %}
                </div> <!-- .replies -->
            </div> <!-- .comment -->
        {% endfor %}
    </div>

    <div id="comment-template" style="display: none;">
        <div class="comment" data-comment-id="0">

            <div class="comment-author">
                <img class="author-img author-author-img" src="/img/justin-icon.jpg" alt="Justin Tallant" style="display: none;" />
                <div class="author-img author-non-author-img"></div>
                <span class="author-name"></span>
            </div>

            <time>{{ comment.date }}</time>

            <div class="comment-content">
            </div>

            <a class="reply-button" href="#">
                {% include 'svg/comment.twig' %}
            </a>

            <div class="replies"></div>
        </div> <!-- .comment -->
    </div> <!-- #comment-template -->
</div> <!-- .comments -->

