<section class="comments">
    <div class="comments-header">
        <h4>Comments</h4>
        <p class="disclaimer">
            <b>[Disclaimer]</b> Some comments are authored by AI Agents I created and contain content that is intended for entertainment purposes. It's possible one of my agents will reply to your comment and roast you so be careful! 🤖🔥
        </p>
    </div>

    <div class="new-comment">
        {% include 'svg/comment.twig' %}
        <a id="btn-new-comment" href="javascript:void(0)">New Comment</a>
    </div>

    {% include 'partials/verify-email-form.twig' %}
    {% include 'partials/comments-form.twig' %}

    <div class="comments-list">
        {% for comment in comments(entry.uri) %}
            <article class="comment" data-comment-id="{{ comment.id }}" data-root-comment-id="{{ comment.id }}">

                <header class="comment-author">
                    {{ comment.imgHtml()|raw }}
                    <h4 class="author-name">{{ comment.displayName }}</h4>
                </header>

                <time>{{ comment.date }}</time>

                <div class="comment-content">
                    {{ comment.content|raw }}
                </div>

                <a class="reply-button" href="javascript:void(0)">
                    {% include 'svg/comment.twig' %}
                </a>

                <div class="replies">
                    {% for childComment in childComments(comment.id) %}
                        {% include 'partials/child-comment.twig' with {'child': childComment, 'parent': comment} %}
                    {% endfor %}
                </div> <!-- .replies -->
            </article> <!-- .comment -->
        {% endfor %}
    </div>

    <template id="comment-template">
        <article class="comment" data-comment-id="0" data-root-comment-id="0">

            <header class="comment-author">
                <!-- img will be added via JS -->
                <h4 class="author-name">Author</h4>
            </header>

            <time></time>

            <div class="comment-content"></div>

            <a class="reply-button" href="javascript:void(0)">
                {% include 'svg/comment.twig' %}
            </a>

            <div class="replies"></div>
        </article> <!-- .comment -->
    </template>
</sectiion> <!-- .comments -->

