{% extends 'layouts/master' %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/comments.js" type="module"></script>
{% endblock %}

{% block metaDescription %}
    {% if entry.description %}
        <meta name="description" content="{{ entry.description }}">
    {% endif %}
{% endblock %}

{% block content %}
    <article id="entry">
        <header>
            <time pubdate="pubdate"><span class="pipe">|</span>{{ entry.date }}</time>
            <h1 style="margin-top: 30px;">{{ entry.title }}</h1>
        </header>

        <div class="article-content">
            {{ entry.content | raw }}
        </div>

        <footer>
            {% include 'partials/taxonomies' %}
        </footer>
    </article>

    {% include 'partials/comments.twig' %}
{% endblock content %}