{%

set companies = [
    {
        'name': 'Freelance',
        'start_year': 2023,
        'end_year': 'current',
        'title': 'Software Engineer',
        'img': ''
    },
    {
        'name': 'CCI.live',
        'start_year': 2020,
        'end_year': 2023,
        'title': 'Senior Software Engineer',
        'img': '/img/cci-live.jpg'
    },
    {
        'name': 'Carbon Better',
        'start_year': 2019,
        'end_year': 2020,
        'title': 'Senior Software Engineer',
        'img': '/img/carbon-better.jpg'
    },
    {
        'name': 'NYCDA',
        'start_year': 2016,
        'end_year': 2017,
        'title': 'Head Instructor',
        'img': '/img/nycda.jpg'
    }
]

%}


{% extends 'layouts/master' %}

{% block title %}
    {{ skimpy.site.title }} - {{ skimpy.site.tagline }}
{% endblock title %}

{% block styles %}
<style>
    #header-photo img {
        display: none;
    }
</style>
{% endblock styles %}

{% block metaDescription %}
    <meta name="description" content="{{ skimpy.site.meta_description }}">
{% endblock metaDescription %}

{% block content %}
    <div id="home">
        <img src="/img/justin-icon.jpg" alt="Justin Tallant" class="justin-photo">

        <div id="bio">
            <h1>
                Software engineer with expertise in
                <span class="yellow">Laravel</span>,
                <span class="teal">Vue</span>, and
                <span class="pink">AI Agents</span>
            </h1>

            <p>
                I'm Justin, a seasoned developer specializing in AI agent development and Laravel web applications. With a strong background in Vue.js, I excel at creating innovative, user-centric solutions. I aim to contribute my expertise to forward-thinking projects in the AI and web development sectors.
            </p>
        </div>

        <div class="socials">
            <a aria-label="Follow on GitHub" href="https://github.com/jtallant" target="_blank">
                {% include 'svg/github.twig' %}
            </a>
            <a aria-label="Follow on LinkedIn" href="https://www.linkedin.com/in/justintallant" target="_blank">
                {% include 'svg/linkedin.twig' %}
            </a>
        </div>

        {# PHOTOS #}
        <div id="home-photos">
            <img src="/img/justin.jpg" alt="Justin at White Sands National Park" loading="lazy">
            <img src="/img/firepit.jpg" alt="Huckleberry cabin patio" loading="lazy">
            <img src="/img/pickleball.jpg" alt="Justin playing pickleball" loading="lazy">
        </div>

        <div id="home-bottom">
            {# ARTICLES #}
            <div class="articles">
                {% for entry in entries %}
                    {% include 'partials/article' %}
                {% endfor %}
            </div>

            {# WORK #}
            <div class="sidebar">
                <div class="work-section">
                    <h2>
                        {% include 'svg/suitcase.twig' %}
                        <span>Work</span>
                    </h2>

                    <div class="work-list">
                        {% for company in companies %}
                            <div class="work-list-item">
                                <div class="company-img-wrapper">
                                    {% if company.img != '' %}
                                        <img alt="{{ company.name }}" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" class="company-img" src="{{ company.img }}" />
                                    {% else %}
                                        <div class="company-img-placeholder"></div>
                                    {% endif %}
                                </div>
                                <div class="company-info">
                                    <div>
                                        <div class="company-name">{{ company.name }}</div>
                                        <div class="company-role">{{ company.title }}</div>
                                    </div>
                                </div>
                                <div class="company-dates">
                                    <time>{{ company.start_year }}</time> <span aria-hidden="true">—</span> <time>{{ company.end_year }}</time>
                                </div>
                            </div>
                        {% endfor %}
                    </div> <!-- .work-list -->
                </div> <!-- .work-section -->
            </div> <!-- .sidebar -->
        </div> <!-- #home-bottom -->
    </div> <!-- #home -->
{% endblock content %}
