{% extends 'layouts/master' %}

{% block title %}
    {{ skimpy.site.title }} - {{ skimpy.site.tagline }}
{% endblock title %}

{% block metaDescription %}
    <meta name="description" content="{{ skimpy.site.meta_description }}">
{% endblock metaDescription %}

{% block header %}
    <h1 id="site-title"><a href="{{ skimpy.url }}">{{ skimpy.site.title }}</a></h1>
    <p id="site-tagline">{{ skimpy.site.tagline }}</p>
    <nav id="site-nav">
        <a href="/pages/projects">Projects</a>
        <a href="/categories/ideas-i-love">Ideas I love</a>
    </nav>
    <img id="site-image" src="/img/justin-and-lars.jpg" alt="Justin and Lars" />
{% endblock header %}

{% block content %}
    <h2>Who Am I?</h2>
    <p>
        My name is Maximus Decimus Meridius, Commander of the Armies of the North, General of the
        Felix Legions, loyal servant to the true emperor, Marcus Aurelius. Father to a murdered...
    </p>

    <p>
        Wait! Wait!! Unfortunately (or fortunately?) this isn't Gladiator and I'm not Russell Crowe!
    </p>

    <p>
        I'm <a href="https://twitter.com/jtallant" target="_blank">@jtallant</a>, a software engineer and entrepreneur.
    </p>

    <p>
        I like to <a href="{{ skimpy.url('pages/projects') }}">build things</a> and write about <a href="{{ skimpy.url('categories/ideas-i-love') }}">ideas I love</a> from books that I have
        read or general observations on life.
    </p>
{% endblock content %}